

<h2>Τι είναι η Santosha;</h2>
<p>Santosha, ένας από τους προσωπικούς κώδικες πειθαρχίας -Niyamas- που αναφέρεται στα 196 sutras του Patanjali, αποτελεί τον κύριο στόχο μας. Αναφέρεται στην πειθαρχία που οφείλουμε να αναπτύξουμε στην εσωτερική, προσωπική μας ζωή και σημαίνει συγκεκριμένα την <strong>πληρότητα</strong> και την <strong>ευτυχία</strong> που είναι καλό να αισθανόμαστε με ό,τι έχουμε. Εξασκώντας τη Santosha ανακαλύπτουμε την πραγματική χαρά της ζωής, η οποία πηγάζει από μέσα μας και όχι από τον εξωτερικό κόσμο. Αποκτάμε έτσι <strong>αυτάρκεια</strong> και νιώθουμε <strong>ικανοποίηση</strong> με όσα υπάρχουν στη ζωή μας, γεγονός που μας οδηγεί στην αυτοεκτίμηση.</p>

<p>Με αυτό τον κώδικα σαν αρχή μας επιλέξαμε να δημιουργήσουμε και να ονοματίσουμε το χώρο όπου επιχειρούμε να εμπνεύσουμε την έννοια της Santosha στους μαθητές μας. Σήμερα ο χώρος Santosha αποτελεί μία πραγματικότητα, ήδη για τρίτη συνεχόμενη χρονιά.</p>

<p>Εδώ η εσωτερική πειθαρχία στην έννοια της ικανοποίησης και της αυτάρκειας –Santosha- ξεκινά με στροφή της προσοχής μας στην αναπνοή και στην κλιμακωτή σωματική εξάσκηση με Yoga αλλά και Pilates, ώστε να καταλήξει στην πρακτική ενός <strong>κινούμενου διαλογισμού</strong>.</p>

<p>Ο στόχος της σωματικής ενδυνάμωσης οδηγεί σταδιακά στην επίρρωση του πνεύματος άρα στην <strong>εξέλιξη και τη δημιουργία</strong> μίας <strong>προσωπικότητας</strong> γεμάτη αυτάρκεια.</p>
