

<h2>Μαθήματα προσωπικής εξέλιξης</h2>

<h3>Hatha Yoga</h3>
<p>Ξεκινώντας από τη βάση της Yoga, Ha σημαίνει Ήλιος και Tha σημαίνει Φεγγάρι. Οι δύο αντίθετες δυνάμεις στη φύση που αντιπροσωπεύουν την Αρσενική, Ζεστή δύναμη και τη Θηλυκή, Δροσερή αντίστοιχα, επιδιώκεται να φτάσουν σε ισορροπία μέσω της Yoga που παρέχει την αρμονική του ένωση, καθώς σημαίνει union.</p>

<p>Τα μαθήματα Hatha Yoga αποτελούν την κύρια πρακτική Yoga δίνοντας έμφαση στην ενδυνάμωση του κορμού και των άκρων μέσα από τις Asanas, στη διεύρυνση της αναπνοής και στη βελτίωση της εστίασης του νου.</p>

<h3>Ashtanga Vinyasa Yoga</h3>
<p>Είδος Yoga κατά το οποίο εξασκείται το σώμα σύμφωνα με μία παραδοσιακή σειρά Asanas. Ταυτόχρονη είναι και η άσκηση του πνεύματος, πειθαρχώντας στα 8 πνευματικά μονοπάτια που μας άφησε ο Patanjali στα 196 sutras του ( ένα εκ των οποίων αποτελεί και η Santosha, το συναίσθημα της προσωπικής ικανοποίησης και χαράς).</p>

<h3>Vinyasa Flow</h3>
<p>Σε αυτό το είδος Yoga προσπαθούμε να συνδέσουμε αρμονικά κίνηση Asanas και συγκεκριμένο είδος αναπνοής Ujjayi Pranayama, σε μία πιο γρήγορη και αερόβια άσκηση, που διατηρεί το σώμα και το πνεύμα διαρκώς σε εγρήγορση. Οι κινήσεις, εμπνευσμένες από την Ashtanga σε έναν πιο ελεύθερο συνδυασμό, ρέουν και εναλλάσσονται σε κάθε εισπνοή –εκπνοή.</p>

<h3>Pilates Mat</h3>
<p>Ασκήσεις βασισμένες στις αρχές και στη μέθοδο που δίδαξε ο Joseph Pilates, αλλά και στις σύγχρονες εξελιγμένες  προσαρμογές τους. Συγκέντρωση, έλεγχος και ροή κινήσεων στο mat με το βάρος του σώματος ή και τη χρήση pilates ball, ring,  thera band, κ.α. οργάνων που επιτρέπουν στην κίνηση να γίνεται πιο αποτελεσματική.</p>

<h2>Barre a Terre</h2>

<h3>Pranayama &amp; Meditation</h3>
<p>Οι yogi θεωρούν την αναπνοή ως την <strong>τροφή σώματος</strong> και <strong>πνεύματος</strong>. Με αυτό ως αρχή ακολουθούμε τη συστηματική εκμάθηση γιόγκικων αναπνοών, ανοίγοντας το δρόμο για το συστηματικό διαλογισμό. Μέσα από τα συγκεκριμένα μονοπάτια επιδιώκουμε να γνωρίσουμε καλύτερα σώμα και πνεύμα, βαθαίνοντας κατ’ επέκταση τη γνωριμία με τον εαυτό μας, ως αυτό- θεραπεία και ανεύρεση εσωτερικής γαλήνης.</p>

<h3>Pregnancy Yoga &amp; Pilates</h3>
<p>Η περίοδος της εγκυμοσύνης, γεμάτη από αλλαγές τόσο για το σώμα όσο και για την ψυχολογία της γυναίκας, απαιτεί ιδιαίτερη μεταχείριση. Μέσα από προσαρμοσμένο ασκησιολόγιο, αναπνοές και διαλογισμό, η εκγύμναση γίνεται τρόπος ανακούφισης και χαλάρωσης από την πίεση της ιδιαίτερης αυτής φάσης της ζωής.</p>

<h3>Yoga &amp; Pilates Therapy</h3>
<p>Γυμναστική χαμηλής έντασης για αποκατάσταση μυοσκελετικών προβλημάτων, αλλά και για άτομα περιορισμένης κινητικότητας και προχωρημένης ηλικίας.</p>

<h3>Yoga Kids &amp; Μουσικοκινητική</h3>
<p>Προγράμματα ειδικά για παιδιά και προσαρμοσμένα σε διαφορετικά ηλικιακά γκρουπ.</p>
