

<h2>Μαθήματα προσωπικής εξέλιξης</h2>

<h3>Hatha Yoga</h3>
<p>Ξεκινώντας από τη βάση της Yoga, Ha σημαίνει Ήλιος και Tha σημαίνει Φεγγάρι. Οι δύο αντίθετες δυνάμεις στη φύση που αντιπροσωπεύουν την Αρσενική, Ζεστή δύναμη και τη Θηλυκή, Δροσερή αντίστοιχα, επιδιώκεται να φτάσουν σε ισορροπία μέσω της Yoga που παρέχει την αρμονική του ένωση, καθώς σημαίνει union.</p>

<p>Τα μαθήματα Hatha Yoga αποτελούν την κύρια πρακτική Yoga δίνοντας έμφαση στην ενδυνάμωση του κορμού και των άκρων μέσα από τις Asanas, στη διεύρυνση της αναπνοής και στη βελτίωση της εστίασης του νου, συμβάλλοντας ουσιαστικά στην απομάκρυνση του άγχους και στην αντιμετώπιση του σωματικού &amp; πνευματικού μουδιάσματος.</p>

<h3>Ashtanga Vinyasa Yoga</h3>
<p>Είδος Yoga κατά το οποίο εξασκείται το σώμα σύμφωνα με μία παραδοσιακή σειρά Asanas. Ταυτόχρονη είναι και η άσκηση του πνεύματος, πειθαρχώντας στα 8 πνευματικά μονοπάτια που μας άφησε ο Patanjali στα 196 sutras του (ένα εκ των οποίων αποτελεί και η Santosha, το συναίσθημα της προσωπικής ικανοποίησης και χαράς).</p>

<h3>Vinyasa Flow</h3>
<p>Σε αυτό το είδος Yoga προσπαθούμε να συνδέσουμε αρμονικά κίνηση Asanas και συγκεκριμένο είδος αναπνοής Ujjayi Pranayama, σε μία πιο γρήγορη και αερόβια άσκηση, που διατηρεί το σώμα και το πνεύμα διαρκώς σε εγρήγορση. Οι κινήσεις, εμπνευσμένες από την Ashtanga σε έναν πιο ελεύθερο συνδυασμό, ρέουν και εναλλάσσονται σε κάθε εισπνοή - εκπνοή. Το αποτέλεσμα, εκτός από τη βελτίωση της φυσικής κατάστασης, είναι η επίτευξη του κινούμενου διαλογισμού. </p>

<h3>Pilates Mat</h3>
<p>Ασκήσεις βασισμένες στις αρχές και στη μέθοδο που δίδαξε ο Joseph Pilates, αλλά και στις σύγχρονες εξελιγμένες  προσαρμογές τους. Συγκέντρωση, έλεγχος και ροή κινήσεων στο mat με το βάρος του σώματος ή και τη χρήση pilates ball, ring,  thera band, κ.α. οργάνων που επιτρέπουν στην κίνηση να γίνεται πιο αποτελεσματική. Το σώμα μετά από μόλις 10 μαθήματα δείχνει και είναι μακρύτερο, περισσότερο ευλύγιστο και υγιέστερο εξωτερικά. Εσωτερικά δυναμώνει από την περιοχή της Σπονδυλικής Στήλης μέχρι τα άκρα, προλαμβάνοντας πολλά συμπτώματα της σύγχρονης καθιστικής ζωής.</p>

<h3>Pranayama &amp; Meditation</h3>
<p>Οι yogi θεωρούν την αναπνοή ως την <strong>τροφή σώματος</strong> και <strong>πνεύματος</strong>. Με αυτό ως αρχή ακολουθούμε τη συστηματική εκμάθηση γιόγκικων αναπνοών, ανοίγοντας το δρόμο για το συστηματικό διαλογισμό. Μέσα από τα συγκεκριμένα μονοπάτια επιδιώκουμε να γνωρίσουμε καλύτερα σώμα και πνεύμα, βαθαίνοντας κατ’ επέκταση τη γνωριμία με τον εαυτό μας, ως αυτό- θεραπεία και ανεύρεση εσωτερικής γαλήνης.</p>

<h3>Pregnancy Yoga &amp; Pilates</h3>
<p>Η περίοδος της εγκυμοσύνης, γεμάτη από αλλαγές τόσο για το σώμα όσο και για την ψυχολογία της γυναίκας, απαιτεί ιδιαίτερη μεταχείριση. Μέσα από προσαρμοσμένο ασκησιολόγιο, αναπνοές και διαλογισμό, η εκγύμναση γίνεται τρόπος ανακούφισης και χαλάρωσης από την πίεση της ιδιαίτερης αυτής φάσης της ζωής. Οι μύες της πυέλου και την σπονδυλικής στήλης, που επιβαρύνεται από την αύξηση του βάρους, δυναμώνουν και η κυκλοφορία του αίματος και της λέμφου βελτιώνονται, ώστε να μειώνεται η δημιουργία οιδημάτων. Το σώμα παραμένει έτσι υγιές και ευλύγιστο, χωρίς κράμπες &amp; πόνους, επιτρέποντας στις μέλλουσες μαμάδες να χαίρονται την καλύτερη περίοδο της ζωής τους!</p>

<h3>Yoga &amp; Pilates Low &amp; Gentle</h3>
<p>Γυμναστική χαμηλής έντασης για βελτίωση μυοσκελετικών προβλημάτων, αλλά και για άτομα περιορισμένης κινητικότητας και προχωρημένης ηλικίας. Μέσω της άσκησης στοχεύουμε στο να βοηθήσουμε τη πνευματική μας υγεία ρυθμίζοντας τόσο το άγχος όσο και την κατάθλιψη που μπορεί να προκαλεί η δυσκαμψία. Η έλλειψη ελαστικότητας, οι μυοσκελετικές αλλοιώσεις, η κακή κυκλοφορία του αίματος και τελικά η αίσθηση της ανικανότητας, βελτιώνονται αισθητά μέσα από αυτά τα προγράμματα.</p>

<h3>Barre a Terre</h3>
<p>Eίδος γυμναστικής εφαρμόσιμο στις ανάγκες κάθε σώματος, είναι εμπνευσμένο από τις ασκήσεις εδάφους του κλασσικού χορού. Χρησιμοποιώντας κυρίως την αντίσταση του εδάφους, με ασκήσεις στο πάτωμα, οι κινήσεις συντονίζονται και εναρμονίζονται, ώστε το σώμα ενθαρρύνεται να βρει τη σωστή στάση του.</p>

<h3>Yoga Kids &amp; Μουσικοκινητική</h3>
<p>Προγράμματα ειδικά για παιδιά και προσαρμοσμένα σε διαφορετικά ηλικιακά γκρουπ.</p>

<h3>Yoga Kids</h3>
<p>Τα οφέλη της Yoga προσφερόμενα και στα παιδιά, συντελούν στην υγιή και ήπια εκγύμναση των μικρών εύπλαστων σωμάτων, αυξάνοντας την ευλυγισία και τη μυική συναρμογή. Ταυτόχρονα συμβάλλουν στην άσκηση της πειθαρχίας, στην ανάπτυξη της αυτοπεποίθησης χωρίς ανταγωνιστική σύγκριση, ενώ βοηθούν την αύξηση της φαντασίας και στην ηρεμία.</p>

<h3>Μουσικοκινητική</h3>
<p>Η μουσικοκινητική αγωγή αποτελεί ένα παιδαγωγικό σύστημα που εισάγει τα παιδιά στις βασικές έννοιες της μουσικής -ρυθμός, μελωδία, τραγούδι, οργανογνωσία, αλλά και χορό, κίνηση- με ένα διασκεδαστικό τρόπο. Συμβάλλει τόσο στην ανάπτυξη της φαντασίας όσο και του λόγου.</p>

<h3>Aerial Yoga</h3>
<p>Το είδος της πρακτικής που συνδυάζει Asanas με
ακροβατικά στοιχεία των εναέριων τεχνών. Ένα πρωτοποριακό
είδος άσκησης για όλο το σώμα που φέρνει «τα πάνω κάτω».
Ο χειρισμός του πανιού προσφέρει μυϊκή ενδυνάμωση κυρίως
σε κοιλιά, χέρια και ώμους, μιάς και πρωταγωνιστούν κατά τη
χρήση του. Ενώ με τη βοήθεια της αιώρας πραγματοποιείται
βαθύτερη διάταση των μυών, βελτιώνοντας την ευλυγισία!
Η θεραπευτική της δράση εστιάζεται στην αποτελεσματική
αποσυμπίεση της Σπονδυλικής Στήλη, ιδίως με τις
ανεστραμμένες θέσεις. Ταυτόχρονα η ανάστροφη αιώρηση
βοηθά στη θρέψη των κυττάρων, στην οξυγόνωση του
εγκεφάλου και στην ξεκούραση της καρδιάς, δρώντας
αντιγηραντικά! Συμβάλλει τέλος στη ρύθμιση ολόκληρου του
ορμονικού συστήματος δρώντας αντικαταθλιπτικά! Οι φόβοι
ξεπερνιούνται!

Μία διασκεδαστική και ανατρεπτική πρακτική που καλλιεργεί
την αυτοσυγκέντρωση ταυτόχρονα με τη βελτίωση της διάθεσης, και απευθύνεται σε μικρούς &amp; μεγάλους !!!</p>

<h3>On Line Santosha Yoga Pilates</h3>
<p>Εξαιτίας της κατάστασης του Covid-19, γεννήθηκε η ανάγκη για on line πρακτική, μαθήματα
μέσω Youtube και on line ατομικές συνεδρίες, ώστε να μη διακόπτεται η πρακτική μας και
να μη χάνεται κανένα μάθημα!</p>

<h3>Coaching Mind Therapy</h3>
<p>Με το Νευρογλωσσικό Προγραμματισμό, την Υπνοθεραπεία και το TLT (Neuro Linguistic
Programming, Hypnotherapy &amp; Time Line Therapy) εισάγουμε μία καινούρια και
επαναστατική μέθοδο εναλλακτικής θεραπείας στο χώρο Santosha.
Επαναπρογραμματίζοντας τη «γλώσσα του μυαλού», πετυχαίνουμε τους στόχους μας και
αντιμετωπίζουμε:
  <ul>
    <li> Φοβίες/ Αρνητικά συναισθήματα/ Περιοριστικές πεποιθήσεις </li>
<li> Stress/ Άγχος</li>
<li> Έλλειψη αυτοεκτίμησης και αυτοπεποίθησης</li>
<li> Ζητήματα επαγγελματικής εξέλιξης</li>
<li> Προσωπικές σχέσεις</li>
<li> Απώλεια βάρους</li>
<li> Ψυχοσωματικά/ Κατάθλιψη</li>
<li> Βελτίωση της καθημερινότητας</li>
<li> Καλύτερο Μέλλον</li>
</ul>
Ο ενδιαφερόμενος να βελτιώσει κάποιον από τους παραπάνω τομείς χρειάζεται 10 με 12
συναντήσεις ατομικής συνεδρίας. Εφαρμόζεται TLT (Time Line Therapy), NLP &amp;
Hypnotherapy. Στη συνέχεια μέσω Άσκησης με Pilates και Yoga Asanas, Pranayama και
Διαλογισμού μπορεί να συντηρήσει την επιθυμητή κατάσταση!
Διδάσκονται:
 Εναλλακτικοί τρόποι διαχείρισης της Σκέψης
 Διαχείριση &amp; Προγραμματισμός του διαθέσιμου Χρόνου
 Mudras &amp; Pranayama για αντιμετώπιση των παραπάνω θεμάτων
 Καλλιέργεια αξιών του Παρόντος
 Στοχοθεσία για ένα καλύτερο Μέλλον
Η ουσιαστική ενασχόληση με το μέσα μας, θα μας επιτρέψει να επιστρέψουμε εκεί που
πραγματικά θέλουμε!
Μία ολιστική μέθοδος που αντιμετωπίζει το άτομο ως προσωπικότητα ολοκληρωμένη!</p>

<h3>Εκπαίδευση Δασκάλων TTC 200h Yoga Alliance</h3>
<p>Μέσα από την πολύχρονη πείρα στο χώρο της διδασκαλίας προκύπτει ως φυσική εξέλιξη η έναρξη κύκλου μαθημάτων εκπαίδευσης δασκάλων Yoga, με πιστοποίηση από τον παγκόσμιο οργανισμό Yoga Alliance.</p>
<p>Το πρόγραμμα απευθύνεται σε άτομα που επιθυμούν να εμβαθύνουν στο χώρο της γιόγκα και να το χρησιμοποιήσουν για την περαιτέρω  προσωπική τους εξέλιξη, αλλά και να ασχοληθούν επαγγελματικά με το αντικείμενο.</p>
<p>Οι διδακτικές ενότητες καλύπτουν εξελικτικά τα αντικείμενα της Hatha Yoga, Ashtanga Yoga &amp; Vinyasa Flow. Παράλληλα διδάσκονται προσαρμοσμένα στο κάθε αντικείμενο Pranayama, Relaxation Techniques, Meditation, Mantras. Ξεχωριστό κεφάλαιο αποτελούν τα Yoga Mudras, Kryia ή Detox, Yoga Philosophy και Anatomy.</p>
