

<footer class="site-footer">
  <div class="site-footer-main">
    <h3>Santosha</h3>
    <strong>Χώρος Προσωπικής Εξέλιξης &amp; Δημιουργίας</strong><br><br>
      Υπέυθυνη επικοινωνίας<br>
    <strong>Ανθή Κοροβού</strong><br><br>
    Τηλ. 694 800 4059<br>
    Γκορτζή 20, Χαλκίδα<br>
    Τ.Κ. 34100<br><br>
    <a href="https://www.facebook.com/Santosha-1490187694575831/" target="_blank" class="btn-fb">Santosha στο Facebook</a>
  </div>
  <img src="/images/n.jpg" alt="TTC 200h Yoga Alliance" class="img-alliance">
</footer>
